body{
    background-color: #181818;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.card{
    background-color: #282828;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#mimg{
    width: 100px;
    height: 100px;
    border-radius: 20%;
    margin-bottom: 20px;
}
.card h1{
    color: #f8f8f8;
    font-size: 24px;
    margin-bottom: 10px;
}
.card h2{
    color: #eeff05;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.card p{
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.buttons{
    display: flex;
    flex-direction: column ;
    gap: 10px;
}

.button{
    background-color:#333;
    color:#fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #555;
}

.attribution {
    margin-top: 525px;
    position:fixed;
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}